.footer {
    overflow: hidden;
    color: #fff;
    position: relative;
    background-image: url('../img/footerfundo.svg');
    background-size: cover;
}

.wave-pattern {
    background-position: center;
    background-repeat: repeat-x;
    height: 300px;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section h2,
.right-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h2 {
    text-indent: 30px;
}

h3 {
    padding-right: 30px;
}


.left-section ul {
    list-style: none;
    padding: 0;
    text-indent: 30px
}

.left-section li {
    margin-bottom: 5px;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 15px;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;

}
